# Default owner for everything
*                        @4mritGiri
/crates/aujar-ipc/       @4mritGiri
/crates/aujar-runtime/   @4mritGiri
/packaging/              @4mritGiri
/docs/                   @4mritGiri
